body {
  font-family: 'Asap', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 90vh;
  width: 100vw;
  background-color: #fff;
}

#container .title {
  height: 33.333vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#container #unities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 33.333vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

@media (max-width: 992px) {
  #container #unities {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #container #unities #fahrenheitInput::-webkit-input-placeholder,
  #container #unities #celsiusInput::-webkit-input-placeholder {
    color: #808080;
  }
  #container #unities .unity p {
    display: none;
  }
}

#container .unity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#container .unity p {
  font-weight: 600;
}

#container .unity input {
  font-size: 30px;
  padding: 5px;
  text-align: center;
}

#container .unity #fahrenheitInput::-webkit-input-placeholder,
#container .unity #celsiusInput::-webkit-input-placeholder {
  color: white;
}

#container .convertion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 33.333vh;
}

#container .convertion .button {
  height: 15.333vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container .convertion .button #btn {
  padding: 15px 40px;
  border: none;
  border-radius: 30px;
  background-color: #17161e;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

#container .convertion .button #btn:hover {
  background-color: #000;
}

#container .convertion .messages {
  height: 18vh;
}

#container .convertion .messages #errorMsg {
  color: #ff0000;
  font-weight: 700;
}

footer {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f1f1f1;
}

footer a {
  font-weight: 600;
  color: #17161e;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */