@import './variables';

body {
  font-family: 'Asap', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
  width: 100vw;
  background-color: #fff;
  .title {
    height: 33.333vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  #unities {
    display: flex;
    height: 33.333vh;
    justify-content: center;
    align-items: center;
    gap: 15px;
    @media (max-width: 992px) {
      flex-direction: column;

      #fahrenheitInput::-webkit-input-placeholder,
      #celsiusInput::-webkit-input-placeholder {
        color: $color-placeholder;
      }
      .unity {
        p {
          display: none;
        }
      }
    }
  }
  .unity {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p {
      font-weight: map-get($font-weight, semibold);
    }
    input {
      font-size: 30px;
      padding: 5px;
      text-align: center;
    }
    #fahrenheitInput::-webkit-input-placeholder,
    #celsiusInput::-webkit-input-placeholder {
      color: white;
    }
  }
  .convertion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 33.333vh;
    .button {
      height: 15.333vh;
      display: flex;
      justify-content: center;
      align-items: center;
      #btn {
        padding: 15px 40px;
        border: none;
        border-radius: 30px;
        background-color: $color-primary;
        color: $color-button;
        font-size: 16px;
        font-weight: map-get($font-weight, semibold);
        letter-spacing: 1px;
        &:hover {
          background-color: $bg-hover;
        }
      }
    }
    .messages {
      height: 18vh;
      #errorMsg {
        color: $color-error;
        font-weight: map-get($font-weight, bold);
      }
    }
  }
}

footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-footer;
  a {
    font-weight: map-get($font-weight, semibold);
    color: $color-primary;
    text-decoration: none;
  }
}
